body{
    margin: 0px;
}

#content{
    width: 1000px;
    margin: 0 auto;
}

#header{
    padding: 20px 0px;
    text-align: center;
    font-size: 50px;
    background: #2090ff;
    color: #FFF;
}

#panel{
    height: 30px;
    margin-top: 5px;
}

#panel #filter{
    float: left;
}
#panel #add{
    float: right;
}
#add_btn{
    padding: 2px 6px;
    background: #064278;
    color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}

#table_container{
    margin-top: 5px;
}

#file_list{
    width: 100%;
}

#file_list tbody tr:nth-child(odd){
    background: #d3d0d4;
}

#file_list tbody tr td{
    padding:5px;
}

#file_list thead tr {
    background-color: #696969;
    color: #FFF;
    cursor: pointer;
}

th.headerSortUp {
    background-image: url(../img/arrowdown.png);
    background-size: 12px;
    background-position-x: 99%;
    background-position-y: 3px;
    background-repeat: no-repeat;
}

th.headerSortDown {
    background-image: url(../img/arrowup.png);
    background-size: 12px;
    background-position-x: 99%;
    background-position-y: 3px;
    background-repeat: no-repeat;
}


#footer{
    margin-top: 10px;
    padding: 20px;
    text-align: right;
    background: #2090ff;
    color: #FFF;;
}

#popup{
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -250px;
    border: 1px solid #B7B7B7;
    width: 500px;
    height: 300px;
    background: #fff;
    box-shadow: 0px 0px 5px #C3C3C3;
}

#close{
    position: absolute;
    right: 5px;
    top: -2px;
    cursor: pointer;
}

#form_content{
    position: absolute;
    top: 16px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

#form_content label{
    display: block;
    margin-left: 1%;
}

#form_content input,textarea{
    width:98%;
    margin-left: 1%;
}

#form_content input[type="submit"]{
    padding: 5px;
}

#form_content textarea{
    height: 80px;
}

#error_text{
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 20px;
    color: red;
    padding-left: 10px;
}